<div class="fadeout"></div>

<div class="flybar">
  <span class="logo">
    <a href="#">MKM</a>
  </span>

  <div class="wrapper">
    <ul>
    <% for (var i = 0; i < continents.length; i++) { %>
      <% var continent = continents[i]; %>
      <li>
        <%= continent.get('title') %>
        <b class="caret"></b>
        <ul>
      <% countries.filter(function(country) { %>
        <% if (country.get('continent_id') === continent.get('id')) { %>
          <li>
          <%= country.get('title') %>
          <ul>
            <% articles.filter(function(article) { %>
              <% if (article.get('country_id') === country.get('id')) { %>
                <li><a href="#articles/<%= article.get('id') %>"><%= article.get('title') %></a></li>
                <li><a href="#articles/<%= article.get('id') %>"><%= article.get('title') %></a></li>
                <li><a href="#articles/<%= article.get('id') %>"><%= article.get('title') %></a></li>
              <% } %>

            <% }); %>
          </ul>
          </li>
        <% } %>
      <% }); %>
    </ul>
    </li>
  <% } %>
  </ul>
</div>
</div>
