<article>
  <header>
    <h1><%= article.get('title') %></h1>
  </header>
  <div class="row">
    <div class="span8">
      <div class="meta">
        <p>Dated <%= mkm.helpers.date.format(article.get('start_date')) %>.
        <span class="publish-info">
          Not yet published
        </span>
        </p>
      </div>

      <% if (mkm.config.logged_in) { %>
      <div class="btn-toolbar">
        <a class="btn btn-mini" href="#articles/<%= article.id %>/edit">
          <i class="icon-edit"></i>
          Edit
        </a>
        <a class="btn btn-mini " href="#articles/<%= article.id %>/photos/new">
          <i class="icon-upload"></i>
          Upload photo
        </a>
        <% if (article.published()) { %>
          <a class="btn btn-mini unpublish" href="#">
          <i class="icon-eye-close"></i>
          Unpublish
        </a>
      <% } else { %>
        <a class="btn btn-primary btn-mini publish" href="#">
          <i class="icon-eye-open icon-white"></i>
          Publish
        </a>
      <% } %>
        <a class="confirm delete-article btn btn-mini btn-danger" href="#">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </div>
      <% } %>

      <section class="body">
        <%= superTextile(article.get('body')) %>
      </section>


      <div id="map" class="map"></div>
    </div>

    <section class="span4">
      <div class="photos"></div>
    </section>
  </div>
</article>
