<article>
  <div class="row">
    <header>
      <h1><%= article.get('title') %></h1>
    </header>

    <div class="meta">
      <div class="pull-right">
        <div class="fb-like" data-href="http://www.mkm.tc/#articles/<%= article.id %>" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-action="recommend"></div>
      </div>
      <p>Dated <%= mkm.helpers.date.format(article.get('start_date')) %>.
      <span class="publish-info">
        Not yet published
      </span>
      </p>
    </div>

    <% if (mkm.config.logged_in) { %>
      <div class="btn-toolbar">
      <a class="btn btn-mini" href="#articles/<%= article.id %>/edit">
        <i class="icon-edit"></i>
        Edit
      </a>
      <a class="btn btn-mini " href="#articles/<%= article.id %>/photos/new">
        <i class="icon-upload"></i>
        Upload photo
      </a>
      <% if (article.published()) { %>
        <a class="btn btn-mini unpublish" href="#">
        <i class="icon-eye-close"></i>
        Unpublish
      </a>
    <% } else { %>
      <a class="btn btn-primary btn-mini publish" href="#">
        <i class="icon-eye-open icon-white"></i>
        Publish
      </a>
    <% } %>
      <a class="confirm delete-article btn btn-mini btn-danger" href="#">
        <i class="icon-trash icon-white"></i>
        Delete
      </a>
      <img class="loader" src="/assets/loader.gif" />
    </div>
  <% } %>
  </div>

  <div class="imagescroll"></div>

  <div class="row">


      <div class="span6 photos"></div>

      <section class="body">
        <%= superTextile(article.get('body')) %>
      </section>

      <div class="thumbmatrix"></div>
      <div id="map" class="map"></div>
    </div>


  </div>
</article>
