<article>
  <div>
    <header class="page-header">
      <h1><%= article.escape('title') %></h1>
    </header>

    <small>
    <div class="pull-right">
      <% var url = "http://www.mkm.tc/#articles/" + article.id; %>
      <% if (article.id < 13) { url = url.replace(/#articles/, "articles"); } %>
      <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-action="recommend"></div>
    </div>
      <%= article.country().escape('title') %>, <%= mkm.helpers.date.format(article.get('start_date')) %>.
      <span class="publish-info">
        Not yet published
      </span>
    </small>


    <% if (mkm.config.logged_in) { %>
      <div class="adminbar"></div>
    <% } %>
  </div>

  <div class="imagescroll"></div>

  <div>

    <div class="row">
    <section class="span7 body">
      <%= superTextile(article.escape('body')) %>
    </section>

    <div class="span5 photos"></div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="thumbmatrix"></div>
      <div id="map" class="map"></div>
    </div>
  </div>

</article>

