<div class="row">
    <div class="span3">
      <a rel="tooltip" title="Click to crop image" href="#articles/<%= model.get('article').id %>/photos/<%= model.id %>/edit" class="thumbnail">
      <img src="<%= model.get('photo').small.url %>" />
    </a>
    </div>

  <div class="span4">
    <form class="well">
      <input name="caption" type="text" placeholder="Caption" value="<%= model.get('caption') %>" />
      <input name="widescreenCaption" type="text" placeholder="Caption as widescreen image" value="<%= model.get('widescreenCaption') %>" />
      <label class="checkbox">
        <input name="useAsArticlePhoto" type="checkbox" <%= model.get('useAsArticlePhoto') ? 'checked' : '' %> />
        Show in right column?
      </label>
      <label class="checkbox">
        <input name="useAsFrontpagePhoto" type="checkbox" <%= model.get('useAsFrontpagePhoto') ? 'checked' : '' %> />
        Show on front page? (photo must be cropped)
      </label>

      <button class="btn update-photo">
        <i class="icon-ok-circle"></i>
        Update
      </button>
      <img class="loader" src="/assets/loader.gif" />
    </form>
  </div>
</div>
