<div data-photo-id="<%= model.id %>">
  <div class="thumbnail">
    <div class="thumb-wrapper">
      <a href="/articles/<%= model.get('article').id %>/photos/<%= model.id %>/edit">
        <img src="<%= model.get('photo').small.url %>" />
      </a>
    </div>
  </div>
<div class="labels">
  <% if (model.isCropped()) { %>
    <span class="label label-success">Cropped</span>
  <% } %>
  <span class="label">Position <span class="position"><%= model.get('position') %></span></span>
</div>

<form class="well">
  <input name="caption" class="input-medium" type="text" placeholder="Caption" value="<%= model.escape('caption') %>" />
  <input name="widescreenCaption" class="input-medium" type="text" placeholder="Caption on frontpage" value="<%= model.escape('widescreenCaption') %>" />
  <label class="checkbox">
    <input name="useAsArticlePhoto" type="checkbox" <%= model.get('useAsArticlePhoto') ? 'checked' : '' %> />
    Show in right column?
  </label>
  <label class="checkbox">
    <input name="useAsFrontpagePhoto" type="checkbox" <%= model.get('useAsFrontpagePhoto') ? 'checked' : '' %> />
    Show on front page? (must be cropped)
  </label>

  <div class="toolbar-wrapper">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-mini update-photo">
          <i class="icon-ok-circle"></i>
          Save
        </button>
        <a href="/articles/<%= model.get('article').id %>/photos/<%= model.id %>/edit" class="btn btn-mini">
          <i class="icon-resize-small"></i>
          Crop
        </a>
        <button class="btn btn-mini btn-danger delete-photo">
          <i class="icon-trash icon-white"></i>
        </button>
      </div>
    </div>
    <img class="loader" src="/assets/loader.gif" />
  </div>
</form>
</div>
