<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MKM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Signika+Negative' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Port+Lligat+Slab' %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <style>
      div.wrapper {
        border: 1px solid #ececec;
      }
    </style>
    <![endif]-->

    <meta property="og:site_name" content="MKM" />
    <meta property="fb:admins" content="799665505" />

    <% title, image_url, description, url, content = "MKM", "", "MKM Travel blog", root_url, 'page' %>
    <% if @article %>
      <% title = @article.title %>
      <% image_url = @article.photos.first.photo.small if @article.photos.length > 0 %>
      <% description = truncate(@article.body, :length => 270) %>
      <% url = article_url(@article) %>
      <% content = 'article' %>
    <% end %>
    <meta property="og:type" content="<%= content %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="<%= image_url %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:url" content="<%= url %>" />

  </head>
  <body>

  <script type="text/javascript">
    mkm.config.logged_in = <%= user_signed_in? %>;
  </script>

  <div id="menu"></div>

  <div class="padding-wrapper">
    <div class="container">
      <div class="content">
          <div id="alerts"></div>
          <div id="page-content">
            <script type="text/javascript">
$(function() {
    mkm.collections.articles = new mkm.collections.ArticleCollection(<%= raw @articles %>);
    mkm.collections.countries = new mkm.collections.CountryCollection(<%= raw @countries %>);
    mkm.collections.continents = new mkm.collections.ContinentCollection(<%= raw @continentz %>);
    mkm.routers.router = new mkm.routers.AppRouter();
    Backbone.history.start({pushState: true})
    });
            </script>
            <%= yield %>
          </div>
      </div>

      <div class="clear-both"></div>

      <footer>
        <% if user_signed_in? %>
          <%= link_to '/articles/new', :class => 'btn btn-mini' do %>
            <i class="icon-pencil"></i>
            New article
          <% end %>
          <%= link_to '/countries/new', :class => 'btn btn-mini' do %>
            <i class="icon-map-marker"></i>
            New country
          <% end %>
          <%= link_to '/countries', :class => 'btn btn-mini' do %>
            <i class="icon-list"></i>
            Show and edit countries
          <% end %>
          <%= link_to destroy_user_session_path, :class => 'btn btn-mini new-pageload', :method => :delete do %>
            <i class="icon-remove-circle"></i>
            Log out
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, :class => 'btn btn-mini new-pageload' do %>
            <i class="icon-lock"></i>
            Log in
          <% end %>
        <% end %>

        <p>The textual content and <a href="https://github.com/kmkr/mkm3">source code of this site</a> is licensed by a
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative
        Commons ShareAlike license</a>. 
        If the conditions are met you are free to use both code and articles at
        your own wish. However, give credit to the original author(s) where
        it's fair and appropriate. Photographs are not affected by the same
        license,
        please <a href="/contact">contact us</a> if you want to use any of the
        photographs. 
      </footer>


      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <script>
mkm.helpers.flash(<%= "'#{flash_class(level)}'" %>, <%= "'#{flash[level]}'" %>)
          </script>
        <% end %>
      <% end %>

    </div>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=184754434896410";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>
