<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mkm3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Signika+Negative' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

  </head>
  <body>

  <script>
    mkm.config.logged_in = <%= user_signed_in? %>;
  </script>

  <div id="menu"></div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div id="alerts"></div>
          <div id="page-content">
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <% if user_signed_in? %>
          <%= link_to '#articles/new', :class => 'btn btn-mini' do %>
            <i class="icon-pencil"></i>
            New article
          <% end %>
          <%= link_to '#countries/new', :class => 'btn btn-mini' do %>
            <i class="icon-map-marker"></i>
            New country
          <% end %>
          <%= link_to destroy_user_session_path, :class => 'btn btn-mini' do %>
            <i class="icon-remove-circle"></i>
            Log out
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, :class => 'btn btn-mini' do %>
            <i class="icon-lock"></i>
            Log in
          <% end %>
        <% end %>
      </footer>

      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <script>
mkm.helpers.flash(<%= "'#{flash_class(level)}'" %>, <%= "'#{flash[level]}'" %>)
          </script>
        <% end %>
      <% end %>

    </div>


  </body>
</html>
