<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mkm3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Signika+Negative' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Port+Lligat+Slab' %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="MKM" />
    <meta property="fb:admins" content="799665505" />

    <meta property="og:title" content="" />
    <meta property="og:image" content="" />

  </head>
  <body>

  <script type="text/javascript">
    mkm.config.logged_in = <%= user_signed_in? %>;
  </script>

  <div id="menu"></div>

    <div class="container">
      <div class="content">
          <div id="alerts"></div>
          <div id="page-content">
            <%= yield %>
          </div>
      </div>

      <div class="clear-both"></div>

      <footer>
        <% if user_signed_in? %>
          <%= link_to '#articles/new', :class => 'btn btn-mini' do %>
            <i class="icon-pencil"></i>
            New article
          <% end %>
          <%= link_to '#countries/new', :class => 'btn btn-mini' do %>
            <i class="icon-map-marker"></i>
            New country
          <% end %>
          <%= link_to '#countries', :class => 'btn btn-mini' do %>
            <i class="icon-list"></i>
            Show and edit countries
          <% end %>
          <%= link_to destroy_user_session_path, :class => 'btn btn-mini', :method => :delete do %>
            <i class="icon-remove-circle"></i>
            Log out
          <% end %>
        <% else %>
          <%= link_to new_user_session_path, :class => 'btn btn-mini' do %>
            <i class="icon-lock"></i>
            Log in
          <% end %>
        <% end %>

        <p>The textual content and <a href="https://github.com/kmkr/mkm3">source code of this site</a> is licensed by a
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative
        Commons ShareAlike license</a>. 
        If the conditions are met you are free to use both code and articles at
        your own wish. However, give credit to the original author(s) where
        it's fair and appropriate. Photographs are not affected by the same
        license,
        please <a href="#contact">contact us</a> if you want to use any of the
        photographs. 
      </footer>


      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <script>
mkm.helpers.flash(<%= "'#{flash_class(level)}'" %>, <%= "'#{flash[level]}'" %>)
          </script>
        <% end %>
      <% end %>

    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=184754434896410";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>
